/* RESET */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* STYLES */
body {
  background-image: url('img/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div.frame {
  border: 10px solid rgb(0, 0, 0);
  border-radius: 25px;
  background: #ffffff;
  position: absolute;
  width: 600px;
  height: 670px;
}
div.frame:after {
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.7);
  background: rgb(255, 255, 255);
  border-radius: 28px;
  position: absolute;
  bottom: -14px;
  right: -14px;
  left: -14px;
  top: -14px;
  z-index: -1;
  content: '';
}
div.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
}
div.grid-area {
  border: 0.5px solid rgba(0, 0, 0, 1);
  display: flex;
  align-content: flex-start;  
  flex-wrap: wrap;
  overflow: hidden;
  width: 550px;
  height: 550px;
}
div.cell-small {
  border: 0.5px solid rgba(0, 0, 0, 1);
  height: 10.125px;
  width: 10.125px;
  margin: -0.25px -0.25px -0.25px -0.25px; 
}
div.cell-medium {
  border: 0.5px solid rgba(0, 0, 0, 1);
  height: 25.45px;
  width: 25.45px;
  margin: -0.25px -0.25px -0.25px -0.25px; 
}
div.cell-large {
  border: 0.5px solid rgba(0, 0, 0, 1);
  height: 42.7px;
  width: 42.7px;
  margin: -0.25px -0.25px -0.25px -0.25px; 
}
div.interface {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 5px 0;
}
div.button-wrapper {
  width: fit-content;
  display: flex;
  column-gap: 5px;
}
div.button {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 0 0 3px;
  height: 50px;
  width: 50px;
  position: relative;
}
div.button:hover {
  box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.65);
  background-color: white;
} 
img.button-img {
  height: 45px;
}
.move {
  transform: translateX(-50%);
}
.color-picker { 
  opacity: 0;
  width: 60px; 
  height: 52px; 
  position: absolute; 
  left: -5px; 
}

